* {
    margin: 0px; 
    padding: 0px;  
}

body {
    height: 90vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, rgba(205, 166, 221, 0.4), rgba(90, 236, 205, 0.4)); 
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.d-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
}

.btn1, .btn2{
    font-size: 20px;
    height: 60px;
}
/* 
.nf{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 200px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}

.de{

    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 260px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}

.fornecedor{

    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 320px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}
.cnpj{

    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 380px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}

.end{

    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 440px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}
.cidade{

    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 500px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}
.uf{

    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 560px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;

    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}

.btn4{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 600px;
    top: 620px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}
h1{
    position: absolute;
    height: 50px;
    left: 580px;
    top: 140px;
    padding: 10px;
} */