* {
    margin: 0px; 
    padding: 0px;  
}

html {
    height: 90vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, rgba(205, 166, 221, 0.4), rgba(90, 236, 205, 0.4)); 
}

.d-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
}

.btn1, .btn2{
    font-size: 20px;
    height: 60px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 90vh;
}

h1{
    margin-bottom: 24px;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 90vh;
    gap: 8px;
}

input{
    width: 300px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ffffff;
    &&:hover{
        background-color: aqua;
        color: rgb(0, 0, 0);
        transition: 0.2s;
        border: none;
    }  
}