.box_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    

.btn1{
position: absolute;
width: 150px;
height: 100px;
left: auto;
top: 300px;
background: #211818;
}


.btn2{

position: absolute;
width: 150px;
height: 100px;
left: auto;
top: 450px;
background: #ac0a0a;
    &&:hover{
        background-color:aliceblue;
    }

    
}

